
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}
.cerc {
    border: 1px solid red;
    border-radius: 2000px;
    position: absolute;
}

.table
{ float: left;
    background-image: url(../img/table.png);
    background-repeat: no-repeat;
    width:100px;
    height: 100px;

}



